{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<div class="hero hero-single route bg-image" style="background-color: black;">
    <!-- <div class="overlay-mf"></div> -->
    <div class="hero-content display-table">
      <div class="table-cell">
        <div class="container">
          <h2 class="hero-title mb-4">{{ projects.title }}</h2>
          <ol class="breadcrumb d-flex justify-content-center">
            <li class="breadcrumb-item">
              <a href="{% url 'index' %}">Home</a>
            </li>
            <li class="breadcrumb-item active">Portfolio Details</li>
          </ol>
        </div>
      </div>
    </div>
  </div>

  <main id="main">

    <!-- ======= Portfolio Details Section ======= -->
    <section id="portfolio-details" class="portfolio-details">
      <div class="container">

        <div class="row gy-4">

          <div class="col-lg-8">
            <div class="portfolio-details-slider swiper">
              <div class="swiper-wrapper align-items-center">
                {% if projects.photo_1 %}
                <div class="swiper-slide">
                  <img src="{{ projects.photo_1.url }}" alt="">
                </div>
                {% else %}
                <p>No Photos</p>
                {% endif %}
                {% if projects.photo_2 %}
                <div class="swiper-slide">
                  <img src="{{ projects.photo_2.url }}" alt="">
                </div>
                {% endif %}
                {% if projects.photo_3 %}
                <div class="swiper-slide">
                  <img src="{{ projects.photo_3.url }}" alt="">
                </div>
                {% endif %}
                

              </div>
              <div class="swiper-pagination"></div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="portfolio-info">
              <h3>Project information</h3>
              <ul>
                <li><strong>Technology</strong>: {{ projects.technology }}</li>
                <li><strong>Client</strong>: {{ projects.client }}</li>
                <li><strong>Project date</strong>: {{ projects.published_date|date:"M d, Y" }}</li>
                <li><strong>Project URL</strong>: <a href="{{ projects.project_url }}">{{ projects.project_url }}</a></li>
                <li><strong>GitHub</strong> <i class="bi bi-github"></i>: <a href="{{ projects.github_url }}">{{ projects.github_url }}</a></li>
              </ul>
            </div>
            <div class="portfolio-description">
              <h2>Project Description</h2>
              <p>
                {{ projects.body }}
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Details Section -->
    {% endblock %}